
<div id="mainModal" style="display: none;">
    <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate" style="z-index: 4; top: 64px;  position: absolute; --mdc-theme-primary: red; ">
        <div class="mdc-linear-progress__buffering-dots"></div>
        <div class="mdc-linear-progress__buffer"></div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
    </div>
    <div class="mtd-main-modal"></div>
</div>
