@model MTDTextFieldTagsModel


@if (Model.HelperText != null)
{
    <div class="mdc-text-field-helper-line">
        <div class="mdc-text-field-helper-text" id="@Model.IdHelper" aria-hidden="true">@Model.HelperText</div>
    </div>
}
