
@model Mtd.OrderMaker.Server.Areas.Workplace.Pages.Store.DetailsModel
@namespace Mtd.OrderMaker.Server.Components.Store
@using Mtd.OrderMaker.Server.DataHandler.Approval
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    string disabledRequest = (!Model.IsFirstStage && Enumerable.Count(ViewBag.UsersRequest) > 0) ? "" : "disabled";
}

<div class="mtd-index-header-buttons" style="padding-top: 6px;">
    <div class="mtd-desk-hint-ibutton">
        <button id="accept-sign-button" class="mdc-icon-button material-icons">thumb_up</button>
        <div class="mtd-desk-hint-ibutton_info">
            <span>@Localizer["Positive response"]</span>
        </div>
    </div>
    <div class="mtd-desk-hint-ibutton">
        <button id="return-sign-button" class="mdc-icon-button">
            <i class="fas fa-reply" style="padding-bottom: 6px;"></i>
        </button>
        <div class="mtd-desk-hint-ibutton_info">
            <span>@Localizer["Simple answer"]</span>
        </div>
    </div>
    <div class="mtd-desk-hint-ibutton">
        <button id="reject-sign-button" class="mdc-icon-button material-icons">thumb_down</button>
        <div class="mtd-desk-hint-ibutton_info">
            <span>@Localizer["Negative response"]</span>
        </div>
    </div>

    <div class="mtd-desk-hint-ibutton">
        <button id="request-button" class="mdc-icon-button" @disabledRequest>
            <i class="fas fa-share-square" style="padding-bottom: 6px;"></i>
        </button>
        <div class="mtd-desk-hint-ibutton_info">
            <span>@Localizer["Signature request"]</span>
        </div>
    </div>


</div>

