@model DetailsModel
@namespace Mtd.OrderMaker.Server.Components.Store
@using Mtd.OrderMaker.Server.EntityHandler.Approval
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@if (Model.IsApprover)
    {    
        <div style="color: cornflowerblue;">           

                @if (Model.IsFirstStage)
                {
                    @await Html.PartialAsync("~/Areas/Workplace/Pages/Store/Partials/ApprovalStart.cshtml")
                }

                @if (Model.IsSign && !Model.IsFirstStage)
                {
                    @await Html.PartialAsync("~/Areas/Workplace/Pages/Store/Partials/ApprovalButtonsSign.cshtml")
                }

                @if (!Model.IsSign && !Model.IsFirstStage)
                {
                    @await Html.PartialAsync("~/Areas/Workplace/Pages/Store/Partials/ApprovalButtons.cshtml")
                }

        </div>

    }