@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@
@page
@model CreateModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Mtd.OrderMaker.Server.AppConfig
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["New user"];
    ViewData["SecondTitle"] = Localizer["Creating a new user"];
}
@section Breadcrumb {
    <li><a href="/Identity/Users">@Localizer["Users"]</a></li>
    <li><a href="/Identity/Users/Accounts">@Localizer["Accounts"]</a></li>
    <li>@ViewData["Title"]</li>
}

<div class="mtd-desk">

    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-create" class="mdc-fab mdc-fab--extended" aria-label="Create" type="submit">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">person_add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </button>
        </div>
    </div>
    <form mtd-data-form method="post" autocomplete="off" novalidate>
        <input type="hidden" id="clicker-create" mtd-data-clicker mtd-data-location="/identity/users/accounts/edit?id=@Model.Input.Id"/>
        <input type="hidden" asp-for="Input.Id"/>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "login-name",
                   Name = "Input.UserName",
                   Label = "Login name",
                   LabelLocalized = true,
                   Required = true,
                   IconLeading = "fas fa-user fa-lg"
               })
        </div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "login-title",
                   Name = "Input.Title",
                   Label = "Display name",
                   LabelLocalized = true,
                   Required = true,
                   IconLeading = "fas fa-user-tag fa-lg"
               })
        </div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "login-email",
                   Name = "Input.Email",
                   Label = "Email",
                   LabelLocalized = true,
                   Required = true,
                   IconLeading = "fas fa-envelope fa-lg"
               })
        </div>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "login-phone",
                   Name = "Input.PhoneNumber",
                   Label = "Phone",
                   LabelLocalized = true,
                   IconLeading = "fas fa-phone fa-lg",
                   Placeholder = "+0 000 000 0000",
                   HelperText = "Phone number pattern: +0 000 000 0000",
                   HelperTextLocalizer = true,
                   Type = "tel",
                   Pattern = RegexPatterns.Phone
               })
        </div>
    </form>
</div>

@section Scripts{ 
 <script>
     new MTDTextField("login-name");
     new MTDTextField("login-title");
     new MTDTextField("login-email");
     new MTDTextField("login-phone");
 </script>
}


