@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Models.Store.Warehouse

<div class="mtd-store-edit-col-wrap">
    @foreach (var field in Model.Fields)
    {
        @await Component.InvokeAsync("StoreStackEditor", new { field = field, warehouse = Model })
    }
</div>