@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Models.Store.Warehouse

<div class="mtd-store-edit-rows">
    @foreach (var field in Model.Fields)
    {
        <div class="mtd-store-edit-item">
            @await Component.InvokeAsync("StoreStackEditor", new { field = field, warehouse = Model })
        </div>
    }
</div>
