@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Models.Index.CellModelView

<div>
    @if (@Model.MtdStoreStack.MtdStoreStackInt != null)
    {
        if (@Model.MtdStoreStack.MtdStoreStackInt.Register > 0)
        {<i class="material-icons">check</i>}
    }
</div>