@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@
@model Models.Index.CellModelView
@{
    string dateValue = "";
    if (Model.MtdStoreStack.MtdStoreStackDate != null)
    {
        dateValue = Model.MtdStoreStack.MtdStoreStackDate.Register.ToString("g");
    }
}

<div>
    @dateValue
</div>