@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

*@

@model Models.Index.CellModelView

@{
    string value = "0.00";
    if (Model.MtdStoreStack.MtdStoreStackDecimal != null && Model.MtdStoreStack.MtdStoreStackDecimal.Register > 0)
    {
        value = Model.MtdStoreStack.MtdStoreStackDecimal.Register.ToString().Replace(",", ".");
    }
}

<div>
    @value
</div>