@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Models.Index.CellModelView

<div>
    @if (@Model.MtdStoreStack.MtdStoreStackFile != null)
    {
        <a href="/api/store/stack/@Model.MtdStoreStack.Id/file" download>
            @Model.MtdStoreStack.MtdStoreStackFile.FileName
        </a>
    }
</div>