@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Models.Index.CellModelView

    <div>
        @if (@Model.MtdStoreStack.MtdStoreStackText != null)
        {            
            <a href="@Model.MtdStoreStack.MtdStoreStackText.Register" target="_blank">Follow the link</a>            
        }
    </div>