@model Models.Index.SelectorModelView
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

    <div>
        <div id="index-filter-window" class="mdc-elevation--z12">
            <div class="index-form-title">
                <div style="display: flex;">
                    <div style="flex-grow: 1; padding: 8px; align-self: center">
                        @Localizer["Add filter"]
                    </div>
                    <div>
                        <button id="index-filter-close" class="mdc-icon-button material-icons index-form-close" onclick="IndexFilterClose()">close</button>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("./_tabsBar.cshtml")

            <div class="index-filter-content">
                @*<hr />*@
                @await Html.PartialAsync("./_tabService.cshtml")

                @await Html.PartialAsync("./_tabCustom.cshtml")

                @await Html.PartialAsync("./_tabExtension.cshtml")

            </div>

        </div>
    </div>

@await Html.PartialAsync("./_MTDSelectListHelper")