@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model MtdStoreStack

@{
    List<MTDSelectListItem> items = (List<MTDSelectListItem>)ViewData[Model.MtdFormPartField];
    MTDSelectListItem itemSelected = items.Where(x => x.Selectded).FirstOrDefault();
}

<div class="mtd-select-list">
    @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
    {
        Id = Model.MtdFormPartField,
        Name = Model.MtdFormPartField,
        Label = Model.MtdFormPartFieldNavigation.Name,
        MTDSelectListView = MTDSelectListViews.Outlined,
        Items = items,
        ValueId = itemSelected == null ? items.Select(x => x.Id).FirstOrDefault() : itemSelected.Id,

    })

    <input id="@Model.MtdFormPartField-datalink" name="@Model.MtdFormPartField-datalink" type="text" hidden />
    <div style="height: 8px;"></div>
</div>

